.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background-image: url('../../../images/edit__button.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  cursor: pointer;
}
