.profile__add-button {
  width: 150px;
  height: 50px;
  align-self: center;
  border: 2px solid #FFFFFF;
  background-image: url('../../../images/add__button.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  cursor: pointer;
}
