.profile__text {
  max-width: 336px;
  display: grid;
  grid-template-areas:
  "title button"
  "text text";
  align-items: baseline;
  gap: 7px 18px;
}

@media screen and (max-width: 700px) {
  .profile__text {
    max-width: 282px;
    gap: 7px 10px;
  }
}

 @media screen and (max-width: 625px) {
  .profile__text {
    grid-template-areas:
    "title button"
    "text text";
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: max-content min-content;
  }
}
