.profile__text {
  max-width: 336px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 7px;
}

@media screen and (max-width: 625px) {
  .profile__text {
    width: 100%;
    align-items: center;
  }
}
