@font-face {
  font-family: "Inter";
  src:  local("Inter Regular"),
        local("Inter-Regular"),
        url("./Inter-Regular.woff2");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src:  local("Inter Medium"),
        local("Inter-Medium"),
        url("./Inter-Medium.woff2");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src:  local("Inter Black"),
        local("Inter-Black"),
        url("./Inter-Black.woff2");
  font-display: swap;
  font-weight: 900;
}
