.form__title {
  max-width: 358px;
  margin-bottom: 48px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

@media screen and (max-width: 625px) {
  .form__title {
    max-width: 328px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }
}
