.popup__close-button {
  position: absolute;
  top: -35px;
  right: -35px;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url('../../../images/close-icon.svg');
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 625px) {
  .popup__close-button {
    top: -35px;
    right: 0;
    width: 20px;
    height: 20px;
    background-image: url('../../../images/close-icon_mobile.svg');
  }
}
