.card__like {
  width: 22px;
  height: 19px;
  border: none;
  background-color: transparent;
  background-image: url('../../../images/like.svg');
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.card__like:hover {
  opacity: 50%;
}

.card__like:active {
  background-image: url('../../../images/like_active.svg');
}
